{% extends 'dashboard_base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block stylesheet %}
  <!-- FooTable -->
  <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
#page-wrapper {
  padding: 0 0;
}
.wrapper-content {
    padding: 8px 0px 0px;
}
.footer {
    bottom: unset;
}
</style>


<!-- <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce product list</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index-2.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>E-commerce</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Product list</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div> -->

<div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    {% for customer in active_customers %}
                      <li><a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" data-toggle="tab" href="#tab-{{ customer.id }}"> {{ customer.name }}{% if customer.name == "Anonymous" %}-{{ forloop.counter }}{% endif %}</a></li>
                    {% endfor %}
                    <li><a class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Add User +</a></li>
                </ul>
                <div class="tab-content">
                  {% for customer in active_customers %}
                    <div role="tabpanel" id="tab-{{ customer.id }}" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="panel-body">

                          <div class="row">
                            <div class="col-lg-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                         Item in {{ customer.name }}{% if customer.name == "Anonymous" %}-{{ forloop.counter }}{% endif %} customers cart
                                    </div>
                                    <div class="panel-body">
                                        <table class="table cart-item-table">
                                          <tr>
                                            <td>Cart Item</td>
                                            <td>Quantity</td>
                                            <td>Total</td>
                                            <td>Remove</td>
                                          </tr>
                                          {% for cart_item in customer.get_cart_item.all %}
                                          <tr id="cart-item-{{ cart_item.id }}">
                                            <td>{{ cart_item.item.name }}</td>
                                            <td><form action="." method="GET">
                                              <input type="hidden" name="item" value="{{ cart_item.id }}"><input class="cart-item" type="number" name="qty" value="{{ cart_item.quantity }}" class="form-control">
                                            </form></td>
                                            <td id="cart-line-total-{{ cart_item.id }}">{{ cart_item.line_total }}</td>
                                            <td class="text-right"><a href="#">X</a></td>
                                          </tr>
                                          {% endfor %}
                                        </table>
                                    </div>
                                    <div class="panel-footer text-right">
                                          <a href="#" class="btn btn-sm btn-danger">Cancel</a> <a href="#" class="btn btn-sm btn-success">Order</a> <a href="#" class="btn btn-sm btn-primary">Served</a> <a href="#" class="btn btn-sm btn-info">Completed</a>
                                    </div>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                         Chat With Kitchen Manager
                                    </div>
                                    <div class="panel-body">

                                      <div class="ibox ">

                                          <div class="ibox-content">

                                              <div>
                                      <div class="chat-activity-list">

                                          <div class="chat-element">
                                              <a href="#" class="float-left">
                                                  <img alt="image" class="rounded-circle" src="{% static 'img/a2.jpg' %}">
                                              </a>
                                              <div class="media-body ">
                                                  <small class="float-right text-navy">1m ago</small>
                                                  <strong>Mike Smith</strong>
                                                  <p class="m-b-xs">
                                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                  </p>
                                                  <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                              </div>
                                          </div>

                                          <div class="chat-element right">
                                              <a href="#" class="float-right">
                                                  <img alt="image" class="rounded-circle" src="{% static 'img/a4.jpg' %}">
                                              </a>
                                              <div class="media-body text-right ">
                                                  <small class="float-left">5m ago</small>
                                                  <strong>John Smith</strong>
                                                  <p class="m-b-xs">
                                                      Lorem Ipsum is simply dummy text of the printing.
                                                  </p>
                                                  <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                              </div>
                                          </div>

                                          <div class="chat-element ">
                                              <a href="#" class="float-left">
                                                  <img alt="image" class="rounded-circle" src="{% static 'img/a2.jpg' %}">
                                              </a>
                                              <div class="media-body ">
                                                  <small class="float-right">2h ago</small>
                                                  <strong>Mike Smith</strong>
                                                  <p class="m-b-xs">
                                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                                  </p>
                                                  <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                              </div>
                                          </div>
                                      </div>
                                      </div>
                                              <div class="chat-form">
                                                  <form role="form">
                                                      <div class="form-group">
                                                          <textarea class="form-control" placeholder="Message"></textarea>
                                                      </div>
                                                      <div class="text-right">
                                                          <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                                                      </div>
                                                  </form>
                                              </div>
                                      </div>
                                      </div>

                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-8">

                              <div class="ibox-content m-b-sm border-bottom">
                                <form action="." method="GET">

                                  <div class="row">
                                    <div class="col-sm-3">
                                      <div class="form-group">
                                        <!-- <label class="col-form-label" for="product_name">Product name:</label> -->
                                        {% render_field product_filter.form.name class="form-control" placeholder="Product name" %}
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="form-group">
                                        <!-- <label class="col-form-label" for="price">Min price</label> -->
                                        {% render_field product_filter.form.min_price class="form-control" placeholder="Min price" %}
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="form-group">
                                        <!-- <label class="col-form-label" for="price">Max price</label> -->
                                        {% render_field product_filter.form.max_price class="form-control" placeholder="Max price" %}
                                      </div>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="form-group">
                                        <!-- <label class="col-form-label" for="status">Product category</label> -->
                                        {% render_field product_filter.form.category class="form-control" placeholder="Product category" %}
                                      </div>
                                    </div>
                                    <div class="col-sm-1">
                                      <div class="form-group">
                                        <!-- <label class="col-form-label" for="product_name">Product name:</label> -->
                                        <input type="submit" value="Filter" class="btn btn-primary">
                                      </div>
                                    </div>
                                  </div>

                                </form>

                              </div>

                                  <div class="row">
                                    {% for product in product_filter.qs %}
                                      <div class="col-md-3">
                                          <div class="ibox">
                                              <div class="ibox-content product-box">

                                                  <div class="product-imitation">
                                                      [ INFO ]
                                                  </div>
                                                  <div class="product-desc">
                                                      <span class="product-price">
                                                          ${{ product.price }}
                                                      </span>
                                                      <small class="text-muted">Category</small>
                                                      <a href="#" class="product-name"> {{ product.name }}</a>



                                                      <div class="small m-t-xs">
                                                          Many desktop publishing packages and web page editors now.
                                                      </div>
                                                      <div class="m-t text-righ">
                                                            <!-- <form class="add-to-cart" action="." method="GET"> -->
                                                              <!-- <input type="hidden" name="cart_id" value="{{ customer.get_cart }}">
                                                              <input type="hidden" name="item_id" value="{{ product.id }}"> -->
                                                              <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i></a>
                                                              <button onclick="addToCart({{customer.get_cart}}, {{product.id}})" id="cart-btn" data-cart="{{ customer.get_cart }}" data-item="Hello" class="btn btn-xs btn-outline btn-primary pull-right">Add to Cart</button>
                                                            <!-- </form> -->
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      {% endfor %}

                                  </div>






                            </div>
                          </div>

                        </div>
                    </div>
                  {% endfor %}
                </div>


            </div>
        </div>
    </div>






</div>


<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <form action="{% url 'restaurant:customer_create' pk=table_id %}" method="POST">
              <div class="modal-body">
                    {% csrf_token %}
                    {{ customer_form.as_p }}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}
  <!-- FooTable -->
  <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

  <!-- Page-Level Scripts -->
  <script>
      $(document).ready(function() {

          $('.footable').footable();

      });


      function addToCart(cart_id, product_id){
        var data = {cart_id: cart_id, item_id: product_id}
        $.ajax({
          type: "GET",
          url: ".",
          data: data,
          success: function(data){
            console.log(data.item_added_to_cart);
            if(data.item_added_to_cart){
              item_data = data.cart_item_data
              $(".cart-item-table").append(
                '<tr id="cart-item-' + item_data.cart_item + '"><td>' + item_data.cart_item_name + '</td><td><form action="." method="GET"><input type="hidden" name="item" value="' + item_data.cart_item + '"><input class="cart-item" type="number" name="qty" value="' + item_data.cart_item_quantity + '" class="form-control"></form></td><td id="cart-line-total-' + item_data.cart_item + '">' + item_data.cart_item_line_total + '</td><td class="text-right"><a href="#">X</a></td></tr>'
              );
              console.log(item_data);
            }
          },
          error: function(error, response){
            console.log(error);
            console.log(response);
          }
        });
      }

      // $("#add-cart-btn").click(function(event){
      //   event.preventDefault();
      //   var data = $(".add-to-cart").serialize();
      //   console.log(data);
      // });

    //   $("#add-cart-btn").click(function(event){
    //   event.preventDefault();
    //   var formData = $(".add-to-cart").serialize();
    //   console.log(formData);
    // });


      $(".cart-item").change(function(){
        var item = $(this).prev("input[type='hidden']").val();
        var qty = $(this).val();
        console.log(qty);
        data = {
          item: item,
          qty: qty
        }
        console.log(data);
        $.ajax({
          type: "GET",
          url: ".",
          data: data,
          success: function(data){
            if(data.deleted){
              $("#cart-item-" + item).fadeOut();
            }
            $("#cart-line-total-" + item).text(data.item_line_total);
          },
          error: function(error, response){
            console.log(error);
            console.log(response);
          }
        });
      });

  </script>
{% endblock %}
