{% extends 'dashboard_base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{% if form.instance.id %}UPDATE{% else %}CREATE{% endif %} TABLE <small>Enter table information inside the form {{ pk }}</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li><a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">


              <!-- <h2>Sign Up</h2> -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-right">
                  <br>
                  <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
              </form>


            </div>
        </div>
    </div>
</div>

{% endblock %}
