{% extends 'dashboard_base.html' %}
{% load static %}

{% block stylesheet %}
  <!-- FooTable -->
  <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce product list</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index-2.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>E-commerce</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Product list</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

      {% for table in object_list %}

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                      <div class="product-imitation">
                          [ INFO ]
                      </div>
                    <div class="product-desc">
                        <span class="product-price">
                            Seats: {{ table.seats }}
                        </span>
                        <small class="text-muted">{% if table.available %}Available{% else %}Not Available{% endif %}</small>
                        <a href="#" class="product-name"> {{ table.name }}</a>



                        <div class="small m-t-xs">
                            Hi there....
                        </div>
                        <div class="m-t text-righ">

                            <a href="{{ table.get_absolute_url }}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}





    </div>





</div>


{% endblock %}


{% block javascript %}
  <!-- FooTable -->
  <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

  <!-- Page-Level Scripts -->
  <script>
      $(document).ready(function() {

          $('.footable').footable();

      });

  </script>
{% endblock %}
